body{
	margin: 0px;
}
.navigation{
 background-color: #000;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000
}
.navigation a{
	display: block;
    padding: 8px;   
    text-decoration: none;
    color: #fff
}
.navigation a:hover{
	opacity: 0.5;
}
.navigation li{
	display: inline-block;
}