body{
	margin: 0px;
}
div{
	background-repeat: no-repeat;
	background-size: cover;
}
.navigation{
 background-color: #000;
}
.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000
}
.navigation a{
	display: block;
    padding: 8px;   
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navigation a:hover{
	opacity: 0.5;
}
.navigation li{
	display: inline-block;
}
.half-div{
	width:50%;
	float: left;
	height: 600px;
	cursor: pointer;
}
.half-div > p{
	padding: 0px 40px 40px 40px
}
.quarter-div{
	width:25%;
	float: left;
	height: 300px;
	cursor: pointer;
}
.quarter-div p{	
	padding:0px 0px 10px 15px;
}
h1.announce{
	font-size: 57px;
	color: #e2e43a;
	padding: 40px;
	margin: 0px;
}
p.memo{
	font-size: 24px;
	color: #fff;
}
p.explain{
	font-size: 17px;
	color: #fff;
}
.blacken{
	background-color: #000
}
.blacken:hover{
	background-color: #2f2f2f
}
hr{
	border-color: #6d6d6d
}
.txt-block{
	color: #797979;
    font-size: 13px;
}
